@model api.digitalsoftec.net.Model.BusinessLayerAdminEmpresasDTOEmpresaDTO

@{
    ViewData["Title"] = "Editar Empresas";
    var SelectedTab = "";
    if (@TempData["SelectedTab"]! != null)
    {
        SelectedTab = TempData["SelectedTab"]!.ToString();
    }

}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Empresas - Edición</h5>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="empresa-tab" data-bs-toggle="tab" data-bs-target="#empresa" type="button" role="tab" aria-controls="empresa" aria-selected="true">Datos Generales</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="sucursales-tab" data-bs-toggle="tab" data-bs-target="#sucursales" type="button" role="tab" aria-controls="sucursales" aria-selected="false" )>Sucursales</button>
            </li>
@*            <li class="nav-item" role="presentation">
                <button class="nav-link" id="test-tab" data-bs-toggle="tab" data-bs-target="#sucursales" type="button" role="tab" aria-controls="sucursales" aria-selected="false" )>Otra Tab</button>
            </li>
*@            <!-- Más tabs si es necesario -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="empresa" role="tabpanel" aria-labelledby="empresa-tab" style="padding: 20px;">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <label asp-for="empresa_id" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_id" class="form-control" />
                            <span asp-validation-for="empresa_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="empresa_codigo_interno" class="col-sm-2 col-form-label">Código Interno</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_codigo_interno" class="form-control" />
                            <span asp-validation-for="empresa_codigo_interno" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="empresa_nro_identificacion" class="col-sm-2 col-form-label">Nro. Identifación</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_nro_identificacion" class="form-control" />
                            <span asp-validation-for="empresa_nro_identificacion" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="tipo_identificacion_id" class="col-sm-2 col-form-label">Tipo Identificación:</label>
                        <div class="col-sm-4">
                            <select asp-for="tipo_identificacion_id" asp-items="ViewBag.TiposIdentificacion" class="form-select"></select>
                            <span asp-validation-for="tipo_identificacion_id" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="empresa_razon_social" class="col-sm-2 col-form-label">Razón Social</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_razon_social" class="form-control" />
                            <span asp-validation-for="empresa_razon_social" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="empresa_nombre_comercial" class="col-sm-2 col-form-label">Nombre Comercial</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_nombre_comercial" class="form-control" />
                            <span asp-validation-for="empresa_nombre_comercial" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="empresa_activa" class="col-sm-2 col-form-label">Empresa activa</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_activa" class="form-control">
                            <span asp-validation-for="empresa_activa" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="empresa_direccion_principal" class="col-sm-2 col-form-label">Dirección Principal</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_direccion_principal" class="form-control">
                            <span asp-validation-for="empresa_direccion_principal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="empresa_parroquia_id" class="col-sm-2 col-form-label">Parroquia</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_parroquia_id" class="form-control">
                            <span asp-validation-for="empresa_parroquia_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="empresa_regimen_tributario_id" class="col-sm-2 col-form-label">Régimen Tributario</label>
                        <div class="col-sm-4">
                            <input asp-for="empresa_regimen_tributario_id" class="form-control">
                            <span asp-validation-for="empresa_regimen_tributario_id" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-primary" id="Guardar">Guardar</button>
                            <a asp-action="list" class="btn btn-outline-secondary">Regresar</a>
                        </div>

                    </div>
                </form>

             </div>
            <div class="tab-pane fade" id="sucursales" role="tabpanel" aria-labelledby="sucursales-tab" style="padding: 20px;">
                <h3>Lista de Sucursales</h3>
                <hr></hr>
                <table class="table table-hover">
                    <thead class="my-text-style">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Nombre Comercial</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Móvil</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="my-text-style">
                        @foreach (var sucursal in Model.sucursales)
                        {
                            <tr>
                                <td>@sucursal.sucursal_id</td>
                                <td>@sucursal.sucursal_nombre</td>
                                <td>@sucursal.sucursal_nombre_comercial</td>
                                <td>@sucursal.sucursal_direccion</td>
                                <td>@sucursal.sucursal_email    </td>
                                <td>@sucursal.sucursal_movil</td>
                                <td>
                                   <a href="#">
                                        <img src="~/assets/img/edit_32px.png" alt="editar" width="24" height="24" title="Editar" 
                                        class="editable-image" data-id="@sucursal.sucursal_id" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Eliminar", "Sucursal", new { id = sucursal.sucursal_id})">
                                        <img src="~/assets/img/delete_32px.png" alt="eliminar" width="24" height="24" title="Eliminar" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<!-- Modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="editSucursalModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edición de Sucursales</h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnSubmit = document.getElementById('Guardar');
        var modal = document.getElementById('loadingModal');

        btnSubmit.addEventListener('click', function () {
            modal.style.display = 'block';
        });
    });

    $(document).ready(function () {
        var selectedTab = '@SelectedTab';
        if (selectedTab == "") selectedTab = 'Empresas';
        $('#' + selectedTab + '-tab').tab('show');

        $('.editable-image').on('click', function () {
            var itemId = $(this).data('id'); // Obtén el ID si es necesario para la operación
            cargarVistaEnModal(itemId);
        });
    });


    function cargarVistaEnModal(itemId) {
        $.ajax({
            url: '/Sucursal/Edit/' + itemId, // URL del controlador que devuelve la vista
            type: 'GET',
            success: function (data) {
                $('#editSucursalModal .modal-body').html(data); // Carga la vista en el modal
                $('#editSucursalModal').modal('show'); // Muestra el modal
            },
            error: function () {
                alert("Error al cargar la vista.");
            }
        });

    }
</script>